.overlay{
    position: fixed;
    z-index: 9991;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    opacity: 1 !important;
    will-change: opacity;
}